* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: brandon-reg;
  src: url(fonts/Brandon_reg.otf);
}
@font-face {
  font-family: futura-pt;
  src: url(fonts/FuturaPTLightOblique.otf);
}

h1 {
  font-family: brandon-reg;
}
h2 {
  font-family: futura-pt;
}

img {
  width: 100%;
  height: auto;
}

html,
body {
  font-family: "Courier New", Courier, monospace;
  line-height: 1.7em;
}

#navbar {
  font-family: brandon-reg;
  font-weight: 600;
  font-style: normal;
  font-size: 15px;
  letter-spacing: 0.14em;
  text-transform: uppercase;
  color: rgba(10, 10, 10);
  text-decoration: none;
  padding-right: 15px;
  margin: 25px;
  padding: 0;
  overflow: hidden;
}

.nav-right {
  display: flex;
  padding-left: 15vh;
  text-align: center;
  margin: auto;
  justify-content: flex-end;
}

#navbar li {
  list-style: none;
  float: right;
}

#navbar li a {
  display: block;
  color: black;
  text-decoration: none;
  padding: 15px 20px;
}

#navbar ul li a {
  list-style: none;
  white-space: nowrap;
  display: block;
  padding: 20px;
  text-align: center;
}

#navbar ul li a:hover {
  background-color: white;
  color: silver;
}

.subnav {
  float: left;
  overflow: hidden;
}

.subnav-content {
  display: none;
  position: absolute;
  left: 0;
  background-color: rgb(0, 0, 0);
  width: 100%;
  z-index: 1;
}

.subnav-content a {
  float: left;
  color: white;
  text-decoration: none;
}

.subnav-content a:hover {
  background-color: #eee;
  color: black;
}

.subnav:hover .subnav-content {
  display: block;
}

.Main-error {
  width: 1511px;
  height: 702px;
  margin: auto;
  padding: 80px 80px 80px 80px;
  font-family: futura-pt;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
  letter-spacing: 0em;
  line-height: 1.7em;
  text-transform: none;
  color: rgba(29, 29, 29, 0.7);
}

img.logo {
  display: flex;
  width: 20%;
  margin: 40px 146px;
  float: left;
  position: relative;
  right: 360px;
  bottom: 44px;
  padding: 30px 30px 30px 30px;
}

aside {
  float: left;
  /* width: 10;
    margin: 30px; */
  position: relative;
  left: 300px;
  padding: 30px 30px 30px 30px;
}

img.pixar-error {
  /* padding-top: 0;
    padding-left: 17px;
    padding-right: 17px;
    position: absolute;
    left: 30%;
    top: 20%;
    max-width: 229px;
    max-height: 310px;
    border: 0;
    display: block;
     */
  /* display: block; */
  width: 40%;
  height: 345;
  /* object-fit: cover; */
}

.Empty-block {
  max-width: 670px;
  max-height: 109px;
  padding-bottom: 11.1111%;
  position: relative !important;
  left: 50%;
  background-color: black;
}

#clear {
  clear: both !important;
}

.Error-message {
  text-align: center;
  float: right;
  width: 50%;
  position: relative;
  bottom: 260px;
}

.Social-network {
}

.buttom-footer {
}

.links {
  display: flex;
  justify-content: center;
  padding-top: 10vh;
  text-align: center;
}

.links li {
  display: inline;
  list-style-type: none;
}

.links a {
  color: #1d1d1d;
  letter-spacing: 0.5em;
}
.signature {
  color: #1d1d1d;
  font-family: brandon-light;
  font-size: 14px;
  letter-spacing: 0.29em;
  font-style: normal;
  font-weight: 400;
  line-height: 1.9em;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  padding-top: 3vh;
  text-align: center;
}
