* {
    /* position: relative; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

header.figure {
    font: 81.25%/1.75 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    max-width: 1669px;
    max-height: 308px;
    margin: 40px 0 0;
    padding: 0;
    position: relative;
    font-size: 16px;
    font-weight: normal;
    text-align: center;
}

img{
    margin-top: 40px;
    max-width: 300px;
    max-height: 300px;
    position: relative;
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    
}

#container{
    font-family: "Open Sans","lucida grande","Segoe UI",arial,verdana,"lucida sans unicode",tahoma,sans-serif;
    max-height: 341px;
    max-width: 600px;
    margin: 0 auto;
    padding: 0px 20px;
    line-height: 1.6em;
    margin: 0 auto;
    text-align: left;
    word-wrap: break-word;
    color: #444;
    font-size: 16px;
    font-weight: normal;

}

.notFound{
    
    max-width: 560px;
    max-height: 141px;
    color: rgba(3, 2, 2, 0.75);
    font-size: 18px;
    font-weight: lighter;
    line-height: 36px;
    text-align: center;

}

.error-links{
    font-family: "Open Sans","lucida grande","Segoe UI",arial,verdana,"lucida sans unicode",tahoma,sans-serif;
    max-width: 560px;
    max-height: 200px;
    margin: 48px 0;
    color: rgba(0,0,0,0.75);
    font-size: 14px;
    font-weight: lighter;
    line-height: 36px;
    text-align: center;
}

ul {
  list-style: none; /* Remove default bullets */
}

h1{
    font-family: "Open Sans","lucida grande","Segoe UI",arial,verdana,"lucida sans unicode",tahoma,sans-serif;
    color: rgba(0,0,0,0.75);
    font-size: 36px;
    font-weight: initial;
    line-height: 36px;
    margin: 10px 0;
    display: block;
    box-sizing: inherit;
    
}